.blok_menu {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 14px;
  border-radius: 8px;
  background: #e5e7eb;
  cursor: pointer;
  font-weight: 600;
  transition: .3s;
}

.menu-item:hover {
  background: #d1d5db;
}

.menu-item.active {
  background: #111827;
  color: white;
}

.spa-section {
  display: none;
}

.spa-section.active {
  display: block;
}

.menu-item-outline {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 8px 8px 15px;
  border: 2px solid #525c6d;
  /* gray-400 */
  border-radius: 9999px;

  background: transparent;
  cursor: pointer;
  font-weight: 600;
  transition: all .3s ease;
}

/* icon selalu tampil */
.menu-item-outline .icon {
  font-size: 18px;
}

/* label hidden default */
.menu-item-outline .label {
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: all .3s ease;
}

/* saat hover → label muncul */
.menu-item-outline:hover .label {
  max-width: 120px;
  opacity: 1;
}

/* hover effect */
.menu-item-outline:hover {
  border-color: #111827;
  padding-right: 20px;
  /* gray-900 */
}

/* active state */
.menu-item-outline.active {
  border-color: #111827;
  background: #111827;
  color: white;
}